* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  font-size: 16px;
  color: var(--Stone-600);
  --mobile: 375px;
  --desktop: 1440px;
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
  --border: 1px solid var(--stone-100);
}
body {
  background: rgb(255, 230, 215);
  height: 1955px;
}

main {
  background: #fff;
  width: 750px;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 1.5em;
}

.recipe {
  width: 100%;
  padding-bottom: 40px;
}
figure {
  padding-bottom: 40px;
}

figure img {
  width: 100%;
  border-radius: 0.7em;
}
.recipe h1 {
  font-family: Young Serif;
  font-size: 41px;
  font-weight: 400;
  padding-bottom: 0.5em;
}
.recipe p {
  font-weight: 400;
  line-height: 1.5em;
}

.preparation {
  background: var(--rose-50);
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 30px;
}
.preparation h2 {
  font-weight: 600;
  font-size: x-large;
  color: var(--rose-800);
  padding-bottom: 0.5em;
}
.preparation ul {
  padding-left: 1.5em;
  line-height: 2em;
}
.preparation li::marker {
  color: var(--rose-800);
}
li {
  padding-left: 1.2em;
}
.preparation span {
  font-weight: 700;
}

.ingredients {
  border-bottom: var(--border);
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
}
.header-2 {
  font-family: Young serif;
  font-size: 1.8em;
  font-weight: 400;
  color: var(--brown-800);
  padding-bottom: 0.6em;
}
.ingredients ul {
  line-height: 2em;
  padding-left: 1.6em;
}
.ingredients li {
  padding-left: 1em;
}
.ingredients li::marker {
  color: var(--brown-800);
  font-size: 0.8em;
}

.instructions {
  padding-bottom: 1.5em;
  border-bottom: var(--border);
  margin-bottom: 1.5em;
}
.instructions ol {
  line-height: 1.5em;
  padding-left: 1.6em;
}
.instructions li {
  padding-bottom: 0.5em;
}
.instructions li::marker {
  font-weight: 800;
  color: var(--brown-800);
}
.instructions span {
  font-weight: 800;
}

.nutrition p {
  padding-bottom: 1.7em;
}
.nutrition table {
  width: 100%;
}
.nutrition table tr th {
  color: var(--brown-800);
  width: 50%;
  padding-left: 0;
  text-align: left;
}
.nutrition table td,
.nutrition th {
  padding: 1em 0;
  border-bottom: var(--border);
}
.nutrition .last-row td,
.last-row th {
  border-bottom: none;
  padding-bottom: 0;
}

@media screen and (max-width: 375px) {
  main {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }
  figure {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  figure img {
    border-radius: 0;
  }
  .sections {
    width: 100%;
    padding: 1.5em;
  }
  .preparation {
    box-sizing: border-box;
    width: calc(100% - 40px);
    margin: 0 auto;
  }
}
